<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="About.css">
    <link rel="stylesheet" href="../../Asset/Global/navbar.css">
    <link rel="stylesheet" href="../../Asset/Global/footer.css">
    <script src="../../script/jquerry.js"></script>
    <title>About Us</title>
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="navLeft">
            <ul>
                <a href="../Mainpage/home.html" id="logo">WearHouse</a>
                <div class="catabout">
                    <li><a href="../Category/Category.html">Category</a></li>
                    <li><a href="../About/About.html">About Us</a></li>
                </div>
            </ul>
        </div>
        <div class="navRight">
            <ul>
                <li><input type="checkbox" id="triangle"></li>
                <li><p id="userLog"></p></li>
                <li><label for="triangle" id="dropDown">▼</label></li>
                <button id="logOut" onclick="runLogOut()">Log Out</button>

                <div class="loginRegisterOut">
                    <li><a href="../Login/login.html">Login</a></li>
                    <li><a href="../Register/Register.html">Register</a></li>
                </div>
            </ul>   
        </div>
        <input type="checkbox" id="hamburger">
        <label for="hamburger" id="burgerbtn">&equiv;</label>

        <!-- Navbar Responsive -->
        <div class="navRespons">
            <div class="menu">
                <a href="../Category/Category.html">Category</a>
                <a href="../About/About.html">About Us</a>
            </div>
            <a href="../Login/login.html">Login</a>
            <a href="../Register/Register.html">Register</a>
        </div>
    </header>

    <div class="homecontainer">
        <div class="borderBox">
            <p id="boxTitle">
                <h2>
                    About Us
                </h2>
            </p>
           <div class="borderBox2">
                <div class="boxAsset">
                    <div class="explain">
                        <p>
                            WearHouse is a fast fashion brand that was founded in 2019. WearHouse aims to provide affordable, high-quality, trendy, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100 stores in various cities across Indonesia. We have a commitment to make each of our product available in every store, with equal price tags and build quality regardless of location.
                        </p>
                    </div>
                    <div class="contact">
                        <h2>Contact Us</h2>
                        <p>Phone: (021) 1234</p>
                        <p>Email: support@wearhouse.com</p>
                    </div>
                </div>
           </div> 
        </div>
    </div>
    
    <footer>
        <div class="trademarks">
            <div id="socialIcon" class="socialIcons">
                <a href="https://twitter.com/M_sajid28" id="twitter">
                    <img src="../../Asset/twitter-icon-white.png" alt="Twitter Bio" width="10px" height="10px">
                </a>
                <a href="https://web.facebook.com/sajid.2810/" id="facebook">
                    <img src="../../Asset/facebook-logo-white.png" alt="Facebook Bio" width="10px" height="10px">
                </a>
                <a href="https://www.instagram.com/typicalntboy/" id="instagram">
                    <img src="../../Asset/Instagram-icon-white.png" alt="Instagram Bio" width="10px" height="10px">
                </a>
            </div>
            <p>Copyright &copy; 2023 Muhammad Sajid. All Rights Reserved.</p>
        </div>
    </footer>
</body>
<script src="../../script/AccStat.js"></script>
</html>